/* styling */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;500;700&display=swap');



.row {
    margin: 0 !important;
}

.row {
    background:#2F1893; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    background-size: cover;
    color: aliceblue;
    overflow: hidden;
    height: 100vh;
}

.row {
    align-items: center;
    padding-left: 200px;
    padding-bottom: 200px;
}

.hero-text h1 {
    text-align: center;
}

.hero-text-blog {
    text-align: center;
    margin-right: 200px;
    font-size: large;
}